body {
  background-color: #e3f6f5;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #dce4e4;
  padding: 0 0 20px 0;
}

h1 {
  font-size: 35px;
}

footer {
  border-top: 1px solid #dce4e4;
  color: #717474;
  font-size: 14px;
  text-align: center;
}

main {
  padding: 0 0 20px 0;
}

a {
  color: #41bebe;
}

.content {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 40px auto;
  padding: 30px;
  width: fit-content;
}

.form-search {
  border: none;
  background-color: #e3f6f5;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;
  width: 80%;
}

.today-date {
  color: #717474;
  margin: 20px 0 0 0;
}

.form-submit {
  background-color: #41bebe;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 15px 25px;
  transition: all 150ms ease-in-out;
}

.form-submit:hover {
  background-color: #e3f6f5;
  color: #41bebe;
  cursor: pointer;
}

.current-temperature-number {
  font-size: 60px;
}

.current-conditions {
  color: #717474;
}

.current-conditions strong {
  color: #4b478d;
}

.current-temperature-unit {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.current-weather {
  left: 30px;
  position: relative;
}
